<div class="form-wrapper" *ngIf="!loading; else loadingTemplate">
    <h4 class="form-title">Motorcycle Info</h4>
    <hr />
  
    <div class="form-group-inline">
      <div class="form-group-inline-item">
        <label class="form-custom ">Name:</label>
        <input type="text" value="{{ motor.name }}" readonly  />
      </div>
      <div class="form-group-inline-item">
        <label  class="form-custom ">Producer:</label>
        <input type="text" value="{{ motor.producers[0].name }}" readonly />
      </div>
    </div>

    <br>

    <div class="form-group-inline">
      <div class="form-group-inline-item">
        <label class="form-custom ">State:</label>
        <input type="text" value="{{ motor.motorcycleState }}" readonly  />
      </div>
      <div class="form-group-inline-item">
        <label  class="form-custom ">Mileage(km):</label>
        <input type="text" value="{{ motor.kilometraza }}" readonly />
      </div>
    </div>
  
    <br>

    <div class="form-group-inline">
      <div class="form-group-inline-item">
        <label class="form-custom">Type:</label>
      <input type="text" value="{{ motor.motorcycleType }}" readonly />
      </div>
      <div class="form-group-inline-item">
        <label class="form-custom">Year of production:</label>
        <input type="text" value="{{ motor.yearOfProduction }}" readonly />
      </div>
    </div>
    
    <br>
  
    <div class="form-group"></div>
    <label class="form-label">Picture:</label>
    <div class="drop-zone">
      <img [src]="motor.slika" alt="{{ motor.name }}" class="image-preview" />
    </div>

    <br>

    <div class="form-group">
      <label class="form-label">Price($):</label>
      <input type="text" value="{{motor.displayPriceOnly && motor.displayPriceOnly.length > 0 ? motor.displayPriceOnly[0].price : 'Without_Price'  }}"readonly />
    </div>
  
    <br>

    <div class="form-group">
      <label class="form-label">Description:</label>
      <textarea value="{{ motor.producers[0].description }}" readonly></textarea>
    </div>

    <br>
  
    <div mat-dialog-actions class="button-container"> 
      <button *ngIf="isDisplayWorker(user) || isDisplayDirector(user)" mat-raised-button id="editMotor" color="primary" class="edit-button" (click)="editMotor(motor.id)">Edit<mat-icon>edit</mat-icon> </button>
      <button *ngIf="isDisplayClient(user)" mat-raised-button id="editMotor" color="primary" class="edit-button" (click)="buyMotor(motor.id)">Buy<mat-icon>shopping_cart</mat-icon> </button>
      <button *ngIf="isDisplayWorker(user) || isDisplayDirector(user)" mat-raised-button id="deleteMotor" color="primary" class="delete-button" (click)="deleteMotor()">Delete<mat-icon>delete</mat-icon></button>
    </div>
   <!---<button mat-raised-button id="editMotor" color="primary" class="edit-button" (click)="editMotor(motor.id)">Buy<mat-icon>shopping_cart</mat-icon> </button>-->
  </div>
  
  <ng-template #loadingTemplate>
    <p>Loading motor details...</p>
  </ng-template>
  