<div class="form-wrapper" *ngIf="!loading; else loadingTemplate">
    <h4 class="form-title">Motorcycle Info</h4>
    <hr />
  
    <!-- Form Group for Name -->
    <div class="form-group">
      <label class="form-label">Name:</label>
      <input type="text" value="{{ motor.name }}" readonly />
    </div>

    <br>

    <!-- Form Group for Motor Type -->
    <div class="form-group">
      <label class="form-label">Type:</label>
      <input type="text" value="{{ motor.motorcycleType }}" readonly />
    </div>
  
    <br>

    <div class="form-group">
      <label class="form-label">Year of production:</label>
      <input type="text" value="{{ motor.yearOfProduction }}" readonly />
    </div>

    <br>

    <div class="form-group">
      <label class="form-label">State:</label>
      <input type="text" value="{{ motor.motorcycleState }}" readonly />
    </div>

    <br>

    <div class="form-group">
      <label class="form-label">Mileage(km):</label>
      <input type="text" value="{{ motor.kilometraza }}" readonly />
    </div>

    <br>
  
    <div class="form-group">
      <label class="form-label">Amount:</label>
      <input type="text" value="{{ motor.amount }}" readonly />
    </div>
    
    <br>
  
    <div class="form-group"></div>
    <label class="form-label">Picture:</label>
    <div class="drop-zone">
      <img [src]="motor.slika" alt="{{ motor.name }}" class="image-preview" />
    </div>
  
    <br>
  
    <div mat-dialog-actions class="button-container">
      <button mat-raised-button id="editMotor" color="primary" class="edit-button" (click)="editMotor(motor.id)">Edit<mat-icon>edit</mat-icon> </button>
      <button mat-raised-button id="deleteMotor" color="primary" class="delete-button" (click)="deleteMotor()">Delete<mat-icon>delete</mat-icon></button>
    </div>
  
  </div>
  
  <ng-template #loadingTemplate>
    <p>Loading motor details...</p>
  </ng-template>
  