<div class="form-wrapper">
    <form [formGroup]="motorForm" (ngSubmit)="handleSubmit()" class="motor-form">
      <h4 class="form-title">Izmeni Motocikl</h4>
      <hr />
  
      <div class="form-group">
        <label for="name" class="form-label">Ime:</label>
        <input id="name" type="text" formControlName="name" required />
      </div>

      <br>
      
      <div class="form-group">
        <label for="motorcycleType" class="form-label">Vrsta Motora:</label>
        <select id="motorcycleType" formControlName="motorcycleType" required>
          <option value="SPORTSKI_MOTOR">SPORTSKI_MOTOR</option>
          <option value="SKUTER">SKUTER</option>
          <option value="ELEKTRICNI">ELEKTRICNI</option>
          <option value="QUAD">QUAD</option>
          <option value="MOPED">MOPED</option>
          <option value="OSTALO">OSTALO</option>
        </select>
      </div>

      <br>

      <div class="form-group">
        <label for="yearOfProduction" class="form-label">Godina proizvodnje:</label>
        <input id="yearOfProduction" type="text" formControlName="yearOfProduction" required />
      </div>

      <br>

      <div class="form-group">
        <label for="motorcycleState" class="form-label">Stanje:</label>
        <select id="motorcycleState" formControlName="motorcycleState" required>
          <option value="NOV">NOV</option>
          <option value="POLOVAN">POLOVAN</option>
        </select>
      </div>
      
      <br>

      <div class="form-group">
        <label for="kilometraza" class="form-label">Kilometraza(km):</label>
        <input id="kilometraza" type="text" formControlName="kilometraza" required />
      </div>

      <br>

      <div class="form-group">
        <label for="amount" class="form-label">Kolicina:</label>
        <input id="amount" type="text" formControlName="amount" required />
      </div>
      
      <br>

      <div class="form-group">
        <label for="slika" class="form-label">Slika:</label>
        <div class="drop-zone" 
             (dragover)="onDragOver($event)" 
             (drop)="onDrop($event)" 
             (click)="fileInput.click()">
          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />
          <br>
          <mat-icon class="large-icon">cloud_upload</mat-icon>
          <p class="upload-text">Drag and drop a picture here, or click to upload</p>
          
          <!-- Display original image from the motor data -->
          <img *ngIf="motorForm.get('Slika')?.value" [src]="motorForm.get('Slika')?.value"  class="image-preview" />
          <img *ngIf="imagePreview" [src]="imagePreview"  class="image-preview" />
        </div>
      </div>
  
      <div class="form-action">
        <button type="submit" class="submit-button" [disabled]="motorForm.invalid">Potvrdi</button>
      </div>
  
      <p>{{ createMessage }}</p>
    </form>
  </div>
  