<div class="container">
    <div class="filter-group">
      <input type="text" class="filter-input" [(ngModel)]="name" placeholder="Search by Name">
      <input type="text" class="filter-input" [(ngModel)]="surname" placeholder="Search by Surname">
      <input type="date" class="filter-input" [(ngModel)]="startingDate" placeholder="Search by Producer">
      <div class="dropdown">
        <select [(ngModel)]="status" class="filter-select">
          <option value="">Odaberi Status</option>
          <option value="U_TOKU">U_TOKU</option>
          <option value="NA_CEKANJU">NA_CEKANJU</option>
        </select>
      </div>

      <button mat-raised-button id="search" color="primary" class="search-button" (click)="filterByNameAndSurname()">Trazi</button>
    </div>
  
    <div class="content-wrapper">
    <table class="user-table" *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Datum pocetka</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services; let i = index" [class.active]="currentIndex === i" (click)="setActiveOrders(service, i)">
            <td>
              {{ service.userInfo.name || '-' }}
            </td>
            <td>
              {{ service.userInfo.surname || '-' }}
            </td>
            <td>{{ service.startDate }}</td>
            <td>{{ service.serviceStatus }}</td>
          </tr>
      </tbody>
    </table>
  
        <div *ngIf="isLoading" class="loading">
        </div>
  
  
        <!---Get OrderById-->
        <div class="form-wrapper" *ngIf="currentItem">
          <h4 class="form-title">Detalji Servisa</h4>
          <hr />
      
          <h3 [ngClass]="getStatusClass(displayForServices.serviceStatus)">Status: {{ displayForServices.serviceStatus }}</h3>
          
      
      
          <div class="form-group-inline">
            <div class="form-group-inline-item">
              <label class="form-custom ">Korisnicko ime:</label>
              <input type="text" value="{{  displayForServices.userInfo.name  }}" readonly  />
            </div>
            <div class="form-group-inline-item">
              <label  class="form-custom ">Korisnicko prezime:</label>
              <input type="text" value="{{ displayForServices.userInfo.surname  }}" readonly />
            </div>
          </div>
      
      
          <br>

          <div class="form-group">
            <label class="form-label">Datum pocetka:</label>
            <input type="text" value="{{displayForServices.startDate}}"readonly />
          </div>

          <br>
      
          <!-----OVDE IDE SLIKA -->
          <div class="form-group"></div>
            <label class="form-label-slika">Slika:</label>
            <div class="drop-zone">
            <img [src]="displayForServices.picture" alt="{{ displayForServices.picture  }}" class="image-preview" />
            </div>

            <br>

            
            <div class="form-group">
                <label class="form-label">Opis Kvara:</label>
                <textarea value="{{displayForServices.failureDescription }}" readonly></textarea>
              </div>

    
      
          <br>
  
          <div mat-dialog-actions class="button-container">
            <button *ngIf="displayForServices.serviceStatus === 'NA_CEKANJU'" mat-raised-button id="editMotor" color="primary" class="edit-button" (click)="handleAccept()">Prihvati <mat-icon>check</mat-icon> </button>
            <button *ngIf="displayForServices.serviceStatus === 'U_TOKU'" mat-raised-button id="aMotor" color="primary" class="view-button" (click)="tasksDetails(currentItem.id)">Pogledaj Zadatke <mat-icon>details</mat-icon> </button>
            <button  *ngIf="displayForServices.serviceStatus === 'NA_CEKANJU' || displayForServices.serviceStatus === 'U_TOKU'" mat-raised-button id="deleteMotor" color="primary" class="delete-button" (click)="handleDecline()">Odbij <mat-icon>close</mat-icon></button>
          </div>
    </div>
  </div>