<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>eco</mat-icon>MotoService</span>
  
    <div class="spacer"></div>
 

  <a mat-button class="nav-button" *ngIf="userRole != 'ROLE_NOTAUTH'" [routerLink]="['/users', userId]"><span>Profil</span></a>
  <a mat-button class="nav-button" *ngIf="userRole != 'ROLE_NOTAUTH'"  routerLink="/all-motorcycles"><span>Motocikli</span></a>
  <a mat-button class="nav-button" *ngIf="userRole != 'ROLE_NOTAUTH'"  routerLink="/all-equipments"><span>DodatnaOprema</span></a>

  <a mat-button class="nav-button" *ngIf="userRole === 'DIREKTOR'" routerLink="/all-users"><span>Korisnici</span></a>
  <a mat-button class="nav-button" *ngIf="userRole === 'DIREKTOR'" routerLink="/add-workers"><span>Dodaj Radnika</span></a>
  <a mat-button class="nav-button" *ngIf="userRole === 'DIREKTOR'" routerLink="/adjust-prices"><span>Izmeni Cenu</span></a>
  <a mat-button class="nav-button" *ngIf="userRole === 'DIREKTOR'" routerLink="/all-pendingOrders"><span>Porudzbine</span></a>
  <a mat-button class="nav-button" *ngIf="userRole === 'DIREKTOR'" [routerLink]="['/display-services', userId]"><span>Servisiranje</span></a>
  <a mat-button class="nav-button" *ngIf="userRole === 'DIREKTOR'" [routerLink]="['/display-tasks', userId]"><span>Zadaci</span></a>
 
  
  <a mat-button  class="nav-button" *ngIf="userRole === 'RADNIK'" [routerLink]="['/all-tasks', userId]"><span>Zadaci</span></a>


  <a mat-button  class="nav-button" *ngIf="userRole === 'KLIJENT'" [routerLink]="['/all-orders', userId]"><span>Porudzbine</span></a>
  <a mat-button  class="nav-button" *ngIf="userRole === 'KLIJENT'" [routerLink]="['/all-service', userId]"><span>Servisiranje</span></a>



  <a mat-button class="nav-button" routerLink="register" *ngIf="userRole === 'ROLE_NOTAUTH'"><span>Registracija</span></a>  
  <a mat-raised-button color="accent" class="nav-button" routerLink="login" *ngIf="userRole === 'ROLE_NOTAUTH'" >Prijava</a>
  <a mat-raised-button color="warn" class="nav-button" *ngIf="userRole != 'ROLE_NOTAUTH'" (click)="logout() " >Odjava</a>
  
  
</mat-toolbar>
  

