

<div class="container">
    <div class="filter-group">
      <input type="date" class="filter-input" [(ngModel)]="startingDate" placeholder="Search by Item name">
      <input type="date" class="filter-input" [(ngModel)]="endingDate" placeholder="Search by Producer">
      <div class="dropdown">
        <select [(ngModel)]="status" class="filter-select">
          <option value="">Select Status</option>
          <option value="ZAVRSEN">ZAVRSEN</option>
          <option value="U_TOKU">U_TOKU</option>
          <option value="NA_CEKANJU">NA_CEKANJU</option>
          <option value="ODBIJEN">ODBIJEN</option>
        </select>
      </div>

     <button mat-raised-button id="search" color="primary" class="search-button" (click)="filterByNameAndSurname()">Search</button>

      <mat-toolbar class="header">
      <span class="title"></span>
      <button mat-raised-button
              id="btnAddTitle"
              (click)="navigateToAddService()"
              color="primary"
              class="add-title-button">
        Request Service 
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>

    </div>
  
    <div class="content-wrapper">
    <table class="user-table" *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Download pdf</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services; let i = index" [class.active]="currentIndex === i" (click)="setActiveOrders(service, i)">

            <td>{{ service.startDate || 'N/A' }}</td>
            <td>{{ service.endDate || 'N/A' }}</td>
            <td>{{ service.serviceStatus }}</td>
            <td>
              <a *ngIf="service.serviceStatus === 'ZAVRSEN' || service.serviceStatus === 'ODBIJEN'" 
                 class="download-button download-link" 
                 (click)="downloadPdf(service.id)" 
                 title="Download">
                <mat-icon>get_app</mat-icon>
              </a>
            </td>
          </tr>
      </tbody>
    </table>
  
        <div *ngIf="isLoading" class="loading">
        </div>
  
  
        <!---Get ServiceById-->
        <div class="form-wrapper" *ngIf="currentItem">
          <h4 class="form-title">Service Info</h4>
          <hr />
      
          <br />

          <h3 [ngClass]="getStatusClass(displayForServices.serviceStatus)">Status: {{ displayForServices.serviceStatus }}</h3>
     
          <!---SAMO AKO JE STATUS ODBIJEN-->
          <div class="form-group" *ngIf="displayForServices.serviceStatus === 'ODBIJEN'">
            <label class="form-label">Rejection Reason:</label>
            <textarea value="{{displayForServices.razlogOdbijanja }}" readonly></textarea>
          </div>

          <br>

          <div class="form-group">
            <label class="form-label">Start Date:</label>
            <input type="text" value="{{displayForServices.startDate  }}"readonly />
          </div>

          <br>

          <div class="form-group">
            <label class="form-label">End Date:</label>
            <input type="text" value="{{displayForServices.endDate  }}"readonly />
          </div>
          
          
          <br>
      
          <div class="form-group"></div>
          <label class="form-label-slika">Picture:</label>
          <div class="drop-zone">
          <img [src]="displayForServices.picture" alt="{{ displayForServices.picture }}" class="image-preview" />
          </div>
          
          <br>

          <div class="form-group">
            <label class="form-label">Failure Description:</label>
            <textarea value="{{displayForServices.failureDescription }}" readonly></textarea>
          </div>
      
          <br>
      
          <div mat-dialog-actions class="button-container"> 
            <button *ngIf="displayForServices.serviceStatus === 'ZAVRSEN'" mat-raised-button id="editMotor" color="primary" class="edit-button" (click)="reviewService(currentItem.id)">Review<mat-icon>grade</mat-icon> </button>
            <button *ngIf="displayForServices.serviceStatus === 'NA_CEKANJU'" mat-raised-button id="deleteMotor" color="primary" class="delete-button" (click)="deleteService()">Cancel Request<mat-icon>delete</mat-icon></button>
          </div>

          <p class="error-message">{{errorMessage}}</p>

    </div>
  </div>
</div>