<div class="container">
    <div class="filter-group">
      <input type="text" class="filter-input" [(ngModel)]="name" placeholder="Search by Item name">
      <input type="text" class="filter-input" [(ngModel)]="surname" placeholder="Search by Producer">
      <div class="dropdown">
        <select [(ngModel)]="status" class="filter-select">
          <option value="">Select Status</option>
          <option value="PRIHVACEN">PRIHVACEN</option>
          <option value="NA_CEKANJU">NA_CEKANJU</option>
          <option value="ODBIJEN">ODBIJEN</option>
        </select>
      </div>
      

      <button mat-raised-button id="search" color="primary" class="search-button" (click)="filterByNameAndSurname()">Search</button>
    </div>
  
    <div class="content-wrapper">
    <table class="user-table" *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Item name</th>
          <th>Item producer</th>
          <th>Ordered amount</th>
          <th>Total price($)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; let i = index" [class.active]="currentIndex === i" (click)="setActiveOrders(order, i)">
            <td>
              {{ order.motorcycleInfo?.[0]?.name || order.equipmentInfo?.[0]?.name || 'N/A' }}
            </td>
            <td>
              {{ order.motorcycleInfo?.[0]?.producers?.[0]?.name || order.equipmentInfo?.[0]?.producers?.[0]?.name || 'N/A' }}
            </td>
            <td>{{ order.orderAmount }}</td>
            <td>{{ order.totalPrice }}</td>
            <td>{{ order.orderStatus }}</td>
          </tr>
      </tbody>
    </table>
  
        <div *ngIf="isLoading" class="loading">
        </div>
  
  
        <!---Get OrderById-->
        <div class="form-wrapper" *ngIf="currentItem">
          <h4 class="form-title">Order Info</h4>
          <hr />
      
          <br />

          <h3 [ngClass]="getStatusClass(displayForOrder.orderStatus)">Status: {{ displayForOrder.orderStatus }}</h3>
     
         
          <div class="form-group-inline">
            <div class="form-group-inline-item">
              <label class="form-custom ">Item name:</label>
              <input type="text" value="{{  displayForOrder.motorcycleInfo?.[0]?.name || displayForOrder.equipmentInfo?.[0]?.name }}" readonly  />
            </div>
            <div class="form-group-inline-item">
              <label  class="form-custom ">Item producer:</label>
              <input type="text" value="{{ displayForOrder.motorcycleInfo?.[0]?.producers?.[0]?.name || displayForOrder.equipmentInfo?.[0]?.producers?.[0]?.name }}" readonly />
            </div>
          </div>

          <br>

          <!---SAMO AKO JE ITEM MOTOR-->
          <div  *ngIf="isMotor"  class="form-group-inline">
            <div class="form-group-inline-item">
              <label class="form-custom ">Type:</label>
              <input type="text" value="{{  displayForOrder.motorcycleInfo?.[0]?.motorcycleType}}" readonly  />
            </div>
            <div class="form-group-inline-item">
              <label  class="form-custom ">Year of production:</label>
              <input type="text" value="{{ displayForOrder.motorcycleInfo?.[0]?.yearOfProduction}}" readonly />
            </div>
          </div>
          
          <br>
      
          <div class="form-group"></div>
          <label class="form-label-slika">Picture:</label>
          <div class="drop-zone">
          <img [src]="displayForOrder.motorcycleInfo?.[0]?.slika || displayForOrder.equipmentInfo?.[0]?.slika" alt="{{ displayForOrder.motorcycleInfo?.[0]?.name || displayForOrder.equipmentInfo?.[0]?.name  }}" class="image-preview" />
          </div>
          
          <br>
      
          <div class="form-group">
            <label class="form-label">Ordered amount:</label>
            <input type="text" value="{{displayForOrder.orderAmount  }}"readonly />
          </div>
      
          <br>
      
          <div class="form-group">
            <label class="form-label">Total price($):</label>
            <input type="text" value="{{displayForOrder.totalPrice  }}"readonly />
          </div>

    </div>
  </div>