<div class="form-wrapper">
    <form [formGroup]="equipmentForm" (ngSubmit)="handleSubmit()" class="motor-form">
      <h4 class="form-title">Edit Equipment</h4>
      <hr />
  
      <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input id="name" type="text" formControlName="name" required />
      </div>

      <br>

      <div class="form-group">
        <label for="equipmentState" class="form-label">State:</label>
        <select id="equipmentState" formControlName="equipmentState" required>
          <option value="NOVA">NOVA</option>
          <option value="POLOVNA">POLOVNA</option>
        </select>
      </div>

      <br>

      <div class="form-group">
        <label for="amount" class="form-label">Amount:</label>
        <input id="amount" type="text" formControlName="amount" required />
      </div>
      
      <br>

      <div class="form-group">
        <label for="slika" class="form-label">Picture:</label>
        <div class="drop-zone" 
             (dragover)="onDragOver($event)" 
             (drop)="onDrop($event)" 
             (click)="fileInput.click()">
          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />
          <br>
          <mat-icon class="large-icon">cloud_upload</mat-icon>
          <p class="upload-text">Drag and drop a picture here, or click to upload</p>
          
          <!-- Display original image from the motor data -->
          <img *ngIf="equipmentForm.get('Slika')?.value" [src]="equipmentForm.get('Slika')?.value"  class="image-preview" />
          <img *ngIf="imagePreview" [src]="imagePreview"  class="image-preview" />
        </div>
      </div>
  
      <div class="form-action">
        <button type="submit" class="submit-button" [disabled]="equipmentForm.invalid">Confirm</button>
      </div>
  
      <p>{{ createMessage }}</p>
    </form>
  </div>
  