/* Centering buttons */
.button-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 1rem; /* Adds space between the buttons */
  }
  
  /* Style for Cancel button */
  .cancel-button {
    background-color:#D11A2A; /* Gray color for Cancel button */
    color: white;
    border: none; /* Remove border */
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #b71c1c;; /* Darker gray on hover */
  }
  
  /* Style for Delete button */
  .confirm-button {
    background-color: #27ae60; /* Keep the Delete button red */
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirm-button:hover {
    background-color: #089000; /* Darker red on hover */
  }
  