<div *ngIf="isLoading">Loading data...</div>
<div *ngIf="!isLoading">
  <div class="nav-pagination">
    <div class="pagination-buttons">
      <button class="pagination-button" (click)="handlePagePrev()" [disabled]="isDisabledPrev"><mat-icon>chevron_left</mat-icon>Prev</button>
      <button class="pagination-button" (click)="handlePageNext()" [disabled]="isDisabledNext">Next <mat-icon>chevron_right</mat-icon></button>
    </div>
    <div class="select-container">
      <select (change)="handlePageSizeChange($event)" [value]="pageSize">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
    </div>
  </div>
          
  <br>

  <div class="motor-grid">
    <app-motor-card *ngFor="let motor of motors.data" [motor]="motor" (motorSelected)="onMotorSelected($event)"></app-motor-card>
  </div>
</div>
