<div class="form-wrapper">
  <form [formGroup]="taskForm" (submit)="handleSubmit($event)" class="task-form">
    <h4 class="form-title">Add Tasks</h4>
    <hr />

    
    <div [formGroup]="tasks.at(0)">
      <div class="form-group">
        <label class="form-label">Worker:</label>
        <select formControlName="userId">
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }} {{ user.surname }}
          </option>
        </select>
      </div>

      <br />

      <div class="form-group">
        <label class="form-label">Task Description:</label>
        <textarea formControlName="taskDescription" required></textarea>
      </div>
    </div>

    <hr />

    
    <ng-container formArrayName="tasks">
      <div *ngFor="let task of tasks.controls; let i = index">
        <div [formGroupName]="i" *ngIf="i > 0">
          <div class="form-group">
            <label class="form-label">Worker:</label>
            <select formControlName="userId">
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.name }} {{ user.surname }}
              </option>
            </select>
          </div>

          <br />

          <div class="form-group">
            <label class="form-label">Task Description:</label>
            <textarea formControlName="taskDescription" required></textarea>
          </div>

          <button mat-raised-button color="primary" class="delete-button" 
                  (click)="removeTask(i); $event.preventDefault(); $event.stopPropagation();">
            Cancel <mat-icon>close</mat-icon>
          </button>

          <hr />
        </div>
      </div>
    </ng-container>

 
    <button mat-raised-button color="primary" class="add-button" (click)="addTask()" type="button">
      New Task <mat-icon>add</mat-icon>
    </button>

    <br /><br />

   
    <div class="form-action">
      <button type="submit" [disabled]="taskForm.invalid || isSubmitting" class="submit-button">
        Confirm
      </button>
    </div>
  </form>

  <p>{{ createMessage }}</p>
</div>
