<!-- delete-confirmation-dialog.component.html -->
<h1 mat-dialog-title>Zavrsi Zadatak</h1>
<div mat-dialog-content>
  <p>Upotrebljeni rezervni delovi:</p>
</div>

<div class="form-group">
    <label class="form-label">Ime rezervno dela:</label>
    <input type="text" [(ngModel)]="name">
  </div>
  
<br>

  <div class="form-group">
    <label class="form-label">Kolicina:</label>
    <input type="number" [(ngModel)]="amount" onkeyup="if(this.value<=0)this.value=1" onblur="if(this.value<=0)this.value=1">
  </div>

<div mat-dialog-content></div> 

<div mat-dialog-actions class="button-container">
  <button mat-button class="cancel-button" (click)="onCancel()">Otkazi</button>
  <button  mat-button color="warn" class="delete-button" (click)="onConfirm()">Potvrdi</button>
</div>
