<!-- delete-confirmation-dialog.component.html -->
<h1 mat-dialog-title>Complete Task</h1>
<div mat-dialog-content>
  <p>Used parts for service:</p>
</div>

<div class="form-group">
    <label class="form-label">Part name:</label>
    <input type="text" [(ngModel)]="name">
  </div>
  
<br>

  <div class="form-group">
    <label class="form-label">Amount:</label>
    <input type="number" [(ngModel)]="amount" onkeyup="if(this.value<=0)this.value=1" onblur="if(this.value<=0)this.value=1">
  </div>

<div mat-dialog-content></div> 

<div mat-dialog-actions class="button-container">
  <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
  <button [disabled]="!name || !amount" mat-button color="warn" class="delete-button" (click)="onConfirm()">Confirm</button>
</div>
